source https://api.nuget.org/v3/index.json
frameworks: netstandard2.0, netcoreapp3.1
generate_load_scripts: true
nuget FSharp.Core
nuget FluentValidation 8.6.0
nuget FSharpPlus 1.1.0-CI00272 prerelease
nuget System.ComponentModel.Annotations 4.7.0
nuget AccidentalFish.FSharp.Validation 0.10.1
nuget Microsoft.NET.Test.Sdk
nuget xunit 2.4.0
nuget xunit.runner.visualstudio 2.4.0
nuget coverlet.collector 1.0.1
nuget OneOf
