source https://api.nuget.org/v3/index.json
frameworks: netstandard2.0, net7
nuget FluentValidation.DependencyInjectionExtensions
nuget FSharp.Core
nuget FluentValidation 
nuget FSharpPlus 1.2.0
nuget System.ComponentModel.Annotations 
nuget AccidentalFish.FSharp.Validation
nuget xunit 2.4.0
nuget xunit.runner.visualstudio 2.4.0
nuget coverlet.collector 1.0.1
nuget OneOf
nuget MediatR.Extensions.Microsoft.DependencyInjection
nuget Microsoft.NET.Test.Sdk
nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.Options.ConfigurationExtensions
nuget Microsoft.Extensions.DependencyInjection.Abstractions
nuget Microsoft.Extensions.DependencyInjection 